body {
	background-color: #DDDDDD;
}
header, footer {
	background-color: #AAAAAA;
	color: #DDDDDD;
	text-shadow: 2px 2px #BBBBBB;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
}
header {
	margin-bottom: 30px;
}
footer {
	margin-top: 30px;
}
.reviewtext, .reviewscore, .reviewaccuracy {
	font-weight: bold;
}
textarea {
	margin-bottom: 5px;
}
