<!doctype html>
<html>
	<head>
		<title>Sentiment Analysis</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/style.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<header class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<h1 class="text-center">Sentiment Analysis</h1>
			</div>
		</header>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<p class="request">Inserte su consulta abajo:</p>
				<form name="results" action="index.html" method="post">
					<div class="form-group">
						<textarea class="input-block-level form-control" name="text" rows="3" placeholder="Inserte su rese&ntilde;a aqu&iacute;."></textarea>
						
						<button type="submit" class="btn btn-large btn-block btn-primary">Enviar</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				{% if error %}
					<h2>Error:</h2>
					<p>{{ error }}</p>
				{% endif %}
				{% if reviewtext %}
					<h2>Resultados:</h2>
					<p class="result">La rese&ntilde;a es <span class="reviewtext">{{reviewtext}}</span> con una probabilidad de <span class="reviewscore">{{reviewscore}}</span></p>
					<!--<p class="result">La precisi&oacute;n del sistema es de <span class="reviewaccuracy">{{reviewaccuracy}}</span></p>-->
				{% endif %}
			</div>
		</div>
		<footer class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<p class="small">Basado en NLTK, Flask y Bootstrap.</p>
			</div>
		</footer>
	</body>
</html>
